body{
    background-color:rgb(243, 236, 239);
    color: rgb(8, 56, 16);
    font-family: "Roboto", "Noto", sans-serif;
}

.youtube{
          background-color: #ff0000 ;
          padding: 7px 14px;
            padding-left: 11px;
          color: white;
          border-radius: 4px;
          text-decoration: none;
          margin: 100px; 
          font-family: "Roboto", "Noto", sans-serif;
          font-size: var(--ytd-tab-system-font-size);
            font-weight: var(--ytd-tab-system-font-weight);
}
.myheading{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%,
     rgba(93,182,82,0.9925012241224614) 46%, rgba(252,70,107,1) 100%);
    font-family: 'Ms Madi', cursive;
    
}
#hid{
    background-color: rosybrown;
}
#pid{
    background-color: rgb(197, 35, 118);
}

.card{
    width: 200px;
    height: 250px;
    text-align: center;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 10px;
}

.card:hover{
    border: 2px solid #FF5050;
}
.mylink{
     text-decoration:none; border: 1px solid black;
     border-radius: 5px; margin-left: 5px;
     margin-left: 22px; margin-right: 22px;
     color: black; 
     background-color: rgba(247, 237, 237, 0.674);
    
   
}

.card:hover a{
    background-color: #FF5050;
    color: white;
}

