body{
    background-color:rgb(243, 236, 239);
    color: rgb(8, 56, 16);
    font-family: 'Ms Madi', cursive;
    font-family: 'Source Sans Pro', sans-serif;
}


.myheading{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%,
     rgba(93,182,82,0.9925012241224614) 46%, rgba(252,70,107,1) 100%);
    font-family: 'Ms Madi', cursive;
    
}
#hid{
    background-color: rosybrown;
}
#pid{
    background-color: rgb(197, 35, 118);
}


